<section>
    <h4 class="moreinfo">CONOCE MÁS</h4>
</section>
<section class= "benefits">
    <div>
        <i class="fas fa-truck"></i><span>NO TE MUEVAS DE CASA</span>
        <p>Hacemos envíos a todo el país</p>
    </div>
    <br>
    <div>
        <i class="fas fa-credit-card"></i><span>PAGÁ COMO QUIERAS</span>
        <p>Aceptamos crédito, débito o efectivo</p>
    </div>
    <br>
    <div>
        <i class="far fa-handshake"></i><span>CALIDAD ASEGURADA</span>
        <p>Usamos materiales de primera calidad</p>
    </div>
</section>