<footer>
    <section>
        <h4>Información</h4>
        <h5>Preguntas Frecuentes</h5>
        <h5>Quienes Somos</h5>
    </section>
    <br>
<section class ="paymethods">
    <h4>Medios de Pago</h4>
    <div class="icons-v">
        <div><i class="far fa-money-bill-alt"></i></div>
        <div><i class="fab fa-cc-visa"></i></div>
        <div><i class="fab fa-cc-amex"></i></div>
        <div><i class="fab fa-cc-mastercard"></i></div>
    </div>
    </section>
    <br>
<section class ="contact-v">
    <h4>Contactanos</h4>
        <div><i class="fas fa-phone-alt"><span>1111111111</span></i></div>
        <div><i class="fas fa-envelope"></i><span>los3mosqueteros@gmail.com</span></i></div>
</section>

</footer>