<section class="follow">
    <h3 class="title">¡SEGUÍNOS!</h3>
</section>
<section>
    <div class="follow-icons">
        <a href="https://www.instagram.com" target="_blank"><!-- img src="/images/logo-ig.jpg" alt="Instagram"--><i class="fab fa-instagram" id="logo-ig"></i></a>
        <a href="https://www.facebook.com" target="_blank"><!-- img src="/images/logo-face.jpg" alt="Facebook"--><i class="fab fa-facebook" id="logo-fb"></i></a>
        <a href="https://web.whatsapp.com" target="_blank"><!--img src="/images/logo-wsp.jpg" alt="Whatsapp"--><i class="fab fa-whatsapp" id="logo-wsp"></i></a>
    </div>
</section>
<hr>
